.ms-container {
  background-color: #f8aa4b;
  width: 800px;
  padding-bottom: 20px;
  border-radius: 25px;
}

body {
  background-color: #072448;
}

li {
  font-size: 30px;
}

h1 {
  color: #072448;
  font-size: 60px;
}

h3 {
  font-size: 30px;
}

.line-through {
  text-decoration: line-through;
}

.fa-xmark {
  color: red;
  cursor: pointer;
}
